/////////////////////////////////////////////////
// nology Project 1: Calculator
// Mark Birchall : 09/20
/////////////////////////////////////////////////

/////////////////////////////////////////////////
// variables
/////////////////////////////////////////////////

$calculator-background: #999;
$calculator-border: #777;
$calculator-shadow: #888;

$screen-background: #3d3;
$screen-shadow: rgba(0,0,0,0.25);
$screen-text-shadow: rgba(0,0,0,0.25);
$screen-glare: rgba(255,255,255,0.3);

$button-background: #777;
$button-alt-background:  #559;
$button-shadow: #444;
$button-active: #888;
$button-alt-active:  #448;
$button-text: #fff;

$link-background: rgba(200,255,200,0.5);

////////////////////////////////
// over-ride global defaults
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

// set body as flex container
body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;



    #container {
        h1 {
            font-size: 1.75rem;
        }

        // main calculator container
        #calculator {
            //position: relative;
            z-index: -1;
            border: 4px solid $calculator-border;
            width: 16rem;
            height: 27rem;
            padding: 20px;
            margin: 50px auto;
            background-color: $calculator-background;
            box-shadow: 2px 2px 12px $calculator-shadow;


            #glare {
                //border: 4px solid black;
                position: absolute;
                //top: 20px;
               // left: 20px;
                z-index: 21;
                background-image: linear-gradient(-70deg, 
                                    rgba(255,255,255,0.1) 20%, 
                                    rgba(255,255,255,0.4) 40%,
                                    rgba(255,255,255,0) 60%,
                                    rgba(255,255,255,0.3) 80%,
                                    rgba(255,255,255,0.6) 100%);
                width: 208px;
                height: 64px;
                //transform: rotate(20deg);

            }
            
            // display screen
            #screen {
                position: relative;
                z-index: 1;
                width: 100%;
                flex-wrap: wrap;
                box-shadow: 0 -2px 1px 0 $screen-shadow;
                height: 4rem;
                background-color: $screen-background;
                text-align: right;
                margin-bottom: 16px;
                font-size: 1.5rem;
                padding: 1rem 0.5rem;
                text-shadow: 2px 2px $screen-text-shadow;

                // boot-up screen
                #sub-screen {
                    font-size: 1rem;
                    position: relative;
                    top: 1.6rem;
                }
            }

            // container for the button divs
            #calc-buttons {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                margin-top: 24px;
            
                // buttons are programatically created
                // by the js file
                button {
                    flex: 1 0 20%;
                    margin: 5px;
                    height: 50px;
                    background-color: $button-background;
                    color: $button-text;
                    border-radius: 5px;
                    box-shadow: 1px 1px 2px $button-shadow;
            
                    &:active {
                        border: 1px solid $button-background;
                        background-color: $button-active;
                        box-shadow: none;
                    }

                    &:focus {
                        outline: 0;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                }
            
                // different colour scheme for "c" and
                button#equals,button#clr {
                    background-color: $button-alt-background;
            
                    &:active {
                        border: 1px solid #66A;
                        background-color: $button-alt-active;
                    }
                    &:focus {
                        outline: 0;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        // credit
        div#credit {
            text-align: center;
            font-size: 1rem;

            a {
                color: black;
                text-decoration: none;
                background-color: $link-background;
            }
        }


    }
}





